* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
}

header {
    background-color: #626f47;
    margin: 0;
    color: #f5ecd5;
    padding: 10px 0;
    padding-left: 10px;
    text-align: left;
    font-size: 36px;
    
}

.vardas {
    font-size: 50px;
    color: #e5f0c3;
    margin: 0;
    padding: 0;
}